.status {
  position: relative;
  margin-bottom: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid gray; }
  .status .avatar {
    float: left;
    padding: 3px; }
  .status .to_icon, .status .to_name {
    margin-right: 5px; }
  .status .username {
    font-weight: bold;
    margin-right: 5px; }
  .status .published {
    font-size: 0.7em; }
  .status .status_images img {
    width: 90%;
    margin-left: 5%;
    margin-top: 1em; }

.yzr-tab-selected {
  background-color: #555 !important; }
