!!! 5
%html
  %head
    %title yozer
    %meta{:charset=>"utf-8"}
    %meta{:content=>'width=device-width, initial-scale=1.0', :name=>'viewport'}
    %link{:rel => :stylesheet, :type => "text/css", :href => "assets/jquery.mobile-1.4.5.min.css"}
    %link{:rel => :stylesheet, :type => "text/css", :href => "assets/jquery.mobile.theme-1.4.5.min.css"}
    %link{:rel => :stylesheet, :type => "text/css", :href => "assets/yozer.css"}
    %link{:rel => "shortcut icon", :href => "assets/favicon.png"}


  %body{:style=>"background-color:black;"}
    #header{'data-role':'header','data-position':'fixed'}
      %div{'data-role':'navbar'}
        %ul
          %li
            %a{href:'#page_stream',id:"button_stream", 'data-role':'button'}
              Stream
          %li
            %a{href:'#page_status',id:"button_status", 'data-role':'button'}
              Status
          %li
            %a{href:'#page_mentions',id:"button_mentions", 'data-role':'button'}
              Mentions
          
    = `haml panel_new_status.haml --trace`
    = `haml page_statuses.haml --trace`
    = `haml panel_settings.haml --trace`
    
    #footer{'data-role': "footer",'data-position':'fixed'}
      %a#button_new_status{href: "#panel_new_status", 'data-role':'button','data-icon':"plus",'data-iconpos':"notext"}
        &nbsp;
        
      %div{style:'float:right'}
        %a#button_settings{data:{icon:'gear', role:'button', iconpos:'notext'}, class:'ui-btn-inline', href:"#panel_settings"} 
          &nbsp;

  //load the javascripts
  %script{:type => "text/javascript", :src  => "assets/js/jquery-1.12.4.min.js"}
  %script{:type => "text/javascript", :src  => "assets/js/jquery.mobile-1.4.5.min.js"}
  %script{:type => "text/javascript", :src  => "assets/js/yozer.js"}
  %script{:type => "text/javascript", :src  => "assets/js/helper.js"}
  %script{:type => "text/javascript", :src  => "assets/js/jquery.xml2json.js"}
