.page{:name => 'context'}
  .header
    .left_navigation
      %button.page_left <
    .title
      Context
      %button.page_close
    .right_navigation
      %button.page_right >

  #context_list_wrapper.scroller
    #context_list
