#page_stream{'data-role'=>"page", 'data-theme'=>'b'}
  #content_stream
    #stream_list_wrapper.scroller
      #stream_list
      
#page_status{'data-role'=>"page", 'data-theme'=>'b'}
  #content_status
    #status_list_wrapper.scroller
      #status_list
      
#page_mentions{'data-role'=>"page", 'data-theme'=>'b'}
  #content_mentions
    #mentions_list_wrapper.scroller
      #mentions_list
        
