#panel_new_status{:name => 'new_status', 'data-role'=>"panel", 'data-display':'overlay','data-theme'=>'b'}
  #new_status
    %form#new_status_form
      #in_reply_to
      %table
        %tr{:id=>'new_status_reply_to'}
          %td Reply To:
          %td{:id=>'new_status_reply_to_name'}
      
      %label{for:"status"}
        Status:
      %textarea{:name=>'status', :rows=>6}
      %label{for:'attach'}
        File:
      %input{:type=>"file", :name=>"attach", :id=>'file_upload'}

    %button{:name => 'submit', data:{role:'button', theme:'b', mini:'true'}}
      Submit

    %button{:name => 'clear', data:{role:'button', theme:'b', mini:'true'}}
      Clear
