.status
  position: relative
  margin-bottom: 7px
  padding-bottom: 7px
  border-bottom: 1px solid gray

  .avatar
    float: left
    padding: 3px

  .to_icon, .to_name
    margin-right: 5px

  .username
    font-weight: bold
    margin-right: 5px

  .published
    font-size: .7em

  .status_images
    img
      width: 90%
      margin-left: 5%
      margin-top: 1em

.yzr-tab-selected
  background-color: #555 !important
